.contacts--container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 320px;
  padding: 29px 31px 24px;
  margin: 0 auto;
  text-align: start;
}

.contacts--tittle {
  margin-top: 31px;
  background-color: $yellow;
}

.contacts--text {
  position: relative;
  padding-left: 37px;

  &__place::before,
  &__phone::before,
  &__mail::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__place::before {
    width: 13px;
    height: 20px;
    background-image: url("../../img/place__icon.svg");
  }

  &__phone::before {
    width: 17px;
    height: 18px;
    background-image: url("../../img/phone__icon.svg");
  }

  &__mail::before {
    width: 19px;
    height: 14px;
    background-image: url("../../img/mail__icon.svg");
  }
}

@media (min-width: 768px) {
  .contacts {
    grid-column-start: 2;
  }

  .contacts--container {
    gap: 2px;
    padding: 22px 0 0px;
    margin: 0;
    font-size: 12px;
  }

  .contacts--tittle {
    display: none;
  }

  .contacts--text {
    padding-left: 22px;

    &__place::before {
      width: 10px;
      height: 15px;
      background-image: url("../../img/place__icon__tablet.svg");
    }

    &__phone::before {
      width: 11px;
      height: 14px;
      background-image: url("../../img/phone__icon__tablet.svg");
    }

    &__mail::before {
      width: 14px;
      height: 10px;
      background-image: url("../../img/mail__icon__tablet.svg");
    }
  }
}

@media (min-width: 1220px) {
  .contacts {
    position: relative;
    bottom: 126px;
    gap: 18px;
    padding-left: 48px;
  }

  .contacts--container {
    gap: 17px;
    font-size: 17px;
  }
}
