.education--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  margin: 0 auto;
  padding: 10px 24px 19px 29px;
}

.education--list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 48px;
  margin-top: 17px;
}

.education--subtitle {
  text-align: center;
}
