.job {
  padding-left: 56px;
}

.job--period {
  font-size: 10px;
}

.job--duties {
  padding: 6px 7px 6px 4px;
  font-size: 12px;
  line-height: 14px;
  list-style: disc;
}

.job {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 27px;
    height: 27px;
    background-image: url("../../img/job__icon.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .job--period {
    font-size: 12px;
  }

  .job--name {
    margin-top: 4px;
    font-size: 16px;
  }

  .job--vocation {
    font-size: 16px;
    margin-top: 6px;
  }

  .job--duties {
    margin-top: 4px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 16px;
  }

  .job {
    &::before {
      width: 41px;
      height: 41px;
      background-image: url("../../img/job__icon__tablet.svg");
    }
  }
}

@media (min-width: 1220px) {
  .job {
    padding-left: 67px;
  }

  .job--period {
    font-size: 14px;
  }

  .job--name {
    margin-top: 13px;
    font-size: 24px;
  }

  .job--vocation {
    font-size: 24px;
    margin-top: 12px;
  }

  .job--duties {
    margin-top: 7px;
    margin-left: 4px;
    font-size: 16px;
    line-height: 19px;
  }


  .job {
    &::before {
      left: -2px;
      width: 52px;
      height: 52px;
      background-image: url("../../img/job__icon__desktop.svg");
    }
  }
}
