.skills--container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 320px;
  margin: 0 auto;
  padding: 11px 27px 13px;
}

.skills--subtitle {
  text-align: center;
}

.skills--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 9px;
  margin-top: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .skills {
    display: grid;
    grid-template-columns: 238px 1fr;
    margin: 0 auto;
  }

  .skills--container {
    grid-row-start: 2;
    grid-column-start: 2;
    gap: 33px;
    width: auto;
    margin: 0;
    padding: 0 39px 37px;
  }

  .skills--subtitle {
    text-align: start;
    font-size: 16px;
  }

  .skills--list {
    row-gap: 17px;
    column-gap: 35px;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (min-width: 1220px) {
  .skills {
    grid-template-columns: 464px 1fr;
  }

  .skills--container {
    gap: 47px;
    padding: 2px 122px 42px 52px;
  }

  .skills--subtitle {
    font-size: 24px;
  }

  .skills--list {
    row-gap: 27px;
    column-gap: 102px;
    margin-top: 24px;
    font-size: 22px;
  }
}
